pkgbase = nexo-client-git
	pkgdesc = Native Minecraft launcher — no webview, no bundled runtime (git)
	pkgver = 0.1.0.r0.gdc962e8
	pkgrel = 1
	url = https://github.com/Lokifisch/nexo-client
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = vulkan-icd-loader
	depends = libxkbcommon
	depends = wayland
	depends = libx11
	depends = libxcursor
	depends = libxi
	depends = libxrandr
	depends = fontconfig
	depends = hicolor-icon-theme
	depends = gcc-libs
	optdepends = jdk-openjdk: required to actually launch Minecraft (Java 25+)
	optdepends = vulkan-radeon: Vulkan driver for AMD GPUs
	optdepends = nvidia-utils: Vulkan driver for NVIDIA GPUs
	optdepends = vulkan-intel: Vulkan driver for Intel GPUs
	provides = nexo-client
	conflicts = nexo-client
	source = nexo-client-git::git+https://github.com/Lokifisch/nexo-client.git
	sha256sums = SKIP

pkgname = nexo-client-git
